1_Semestre/*
2_Semestre/Cálculo/*
2_Semestre/Comunicação e Expressão/*
2_Semestre/Inglês II/*
2_Semestre/Engenharia de Software I/*
2_Semestre/CONTABILIDADE/*
2_Semestre/Sistemas_da_Informacao/N1/*
.vscode/*
2_Semestre/Linguagem_de_Programacao/C/aulas/.vscode/*
2_Semestre/Linguagem_de_Programacao/C/*.exe
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_08-17_de_Setembro/.vscode/*
2_Semestre/Linguagem_de_Programacao/C/para_nota/tarefa_2/.vscode/*
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_08-17_de_Setembro/*.exe
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_01-30_de_Agosto/*.exe
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_06-03_de_Setembro/*.exe
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_07-10_de_Setembro/*.exe
2_Semestre/Linguagem_de_Programacao/C/listas_de_exercicio/1/*.exe
2_Semestre/Linguagem_de_Programacao/C/listas_de_exercicio/2/*.exe
*.exe
.tmp.driveupload/*
2_Semestre/Sistemas_da_Informacao/VisualStudio/Aula_12/proj_adsma2/bin/Debug/fotos/*
2_Semestre/Sistemas_da_Informacao/VisualStudio/Aula_12/proj_adsma2/bin/Debug/icones/*
*.vscode
2_Semestre/Linguagem_de_Programacao/C/aulas/Aula_14-05_de_Novembro/*.vscode
modelo_banco.mwb
*.pdf
3_Semetre/Sociedade_e_tecnologia/*